.vs/gempbot/v14/.suo
*.db
gempbot.VC.VC.opendb
*.vcxproj
gempbot.vcxproj.filters
*.exe
*.pdb
*.obj
*.tlog
*.log
*.iobj
gempbotLog.txt
Release/gempbot.ipdb
*.dev
.vscode/
gempbot
botconfig.txt
adminusers.txt

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake